@import "./Navbar.css";
@import "./MovieSearchResults.css";
@import "./MovieSearch.css";
@import "./UserPage.css";
@import "./UserList.css";

.movie-poster-background {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
  position: fixed;
}
