.create-profile-form-wrapper {
  width: 60%;
  margin: auto;

  background-color: white;
}

.profile-form-group {
  display: grid;
  grid-template-columns: 30% 70%;
}

.profile-input {
  margin-right: 20%;
  margin-bottom: 10px;
  border-radius: 10px;
}

input.profile-input {
  height: 1.5rem;
}

.profile-label {
  margin-left: auto;
  display: flex;
  align-self: center;
  margin-bottom: 10px;
}

.profile-input-header {
  padding-left: 25%;
}

.profile-input-button {
  width: fit-content;
  padding: 1rem;
  margin: auto;
  align-items: center;
  background-color: rgba(204, 255, 255, 0.5);
  border-radius: 10px;
  border: 1px solid rgb(204, 255, 255);
}
.profile-input-button:hover {
  cursor: pointer;
  background-color: rgb(204, 255, 255);
}
