.navbar-main {
  height: 2rem;
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: center;
}

.navbar-item {
  display: flex;
  justify-content: center;
  justify-self: center;
}
