.navbar-main {
  width: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: center;
}

.navbar-item {
  display: flex;
  justify-content: center;
  justify-self: center;
  border: 1px solid black;
  border-radius: 15px;
  padding: 1em 1em;
  text-decoration: none;
}

.navbar-item-selected {
  display: flex;
  justify-content: center;
  justify-self: center;
  border: 1px solid black;
  border-radius: 15px;
  padding: 1em 1em;
  text-decoration: none;
  background-color: aqua;
}

.navbar-item:hover {
  background-color: aqua;
}
