.navbar-main {
  width: 100%;
  margin: auto;
  justify-self: center;
  background-color: black;
  display: grid;
  grid-template-columns: 60% 40%;
}

.navbar-item {
  display: flex;
  justify-content: center;
  justify-self: center;
  border: 1px solid black;
  border-radius: 15px;
  padding: 1em 1em;
  text-decoration: none;
  background-color: rgba(128, 255, 255, 0.5);
}

.navbar-main .navbar-item:nth-child(4) {
  margin-left: auto;
}
.navbar-main .navbar-item-selected:nth-child(4) {
  margin-left: auto;
}
.navbar-main .navbar-item:nth-child(5) {
  margin-right: auto;
}
.navbar-main .navbar-item-selected:nth-child(5) {
  margin-right: auto;
}

.navbar-item-selected {
  display: flex;
  justify-content: center;
  justify-self: center;
  border: 1px solid black;
  border-radius: 15px;
  padding: 1em 1em;
  text-decoration: none;
  background-color: rgb(128, 255, 255);
}

.navbar-item:hover {
  background-color: aqua;
}
